<div class="fp-top-nav">
  <div class="container">
    <ul class="fp-top-nav__list">
      <li class="fp-top-nav__list_item">
        <a href="#" class="fa fa-quora">
        </a>
      </li>
      <li class="fp-top-nav__list_item">
        <a href="#" class="fa fa-facebook">
        </a>
      </li>
      <li class="fp-top-nav__list_item">
        <a href="#" class="fa fa-twitter">
        </a>
      </li>
      <li class="fp-top-nav__list_item">
        <a href="#" class="fa fa-search">
      </a>
      </li>
    </ul>
  </div>
</div>
